
  body{
    background: linear-gradient(
      90deg,
rgb(18,3,56)0%,
rgb(189,17,48)100%
    );
  }
  .movie-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .movie-rating,
  .movie-description,
  .movie-language {
    font-size: 16px;
    margin-bottom: 5px;
  }
 
  .movie-details {
    background: linear-gradient(
      90deg,
      rgb(193, 187, 207)0%,
      rgb(61, 53, 53) 100%
    );
    border: 1px solid #5a0515;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
  }

  
