/* Page.css */

  
.rectangle {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 10px;
    border:2px solid rgb(184, 183, 183);
    padding: 10px;
    height:150px;
    width: 100%;
  }
  hp
  {
    font-size: 23px;
    color: #09aa00;
    /* justify-content: center; */
    /* margin-left: 50px; */
    text-align: center;
   
    
   
  }
  .text-left {
    flex: 1;
    color:black;
    font-size: 30px;
    font-weight: bold;
  }
  
  .center-right-container {
    display: flex;
    /* margin-right: 290px; */
    /* margin-left: 0px; */
    /* justify-content: flex-end; */
    align-items: center;
    
    flex: 3;
  }
  
  .center-rectangle {
    border:2px solid rgb(6, 86, 6);
    background-color: #ffffff;
    width: 170px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-right: 20px;
   
    height: 55px;
    margin-left: 10px;
  }
  
  .text-right {
    flex: 1;
  }

  
  /* Page.css */

.page {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(189, 17,48); */

    height: 100vh; /* Adjust this to control the height of the page */
  }
  
  .main_rectangle {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    border:2px solid rgb(184, 183, 183);
    background-color: #ffffff; /* Background color of the rectangle */
    height: 100px; /* Height of the rectangle */
  }
  
  .square {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #dc1d1d; /* Background color of the squares */
    width: 50px; /* Width of each square */
    height: 50px; /* Height of each square */
    margin: 10px; /* Margin between squares */
    font-size: 24px; /* Font size of the numbers */
    color: #ffffff; /* Text color of the numbers */
  }
  
  .arrow {
    font-size: 44px; /* Adjust the font size as needed */
    margin: 0 5px; /* Adjust the margin as needed */
  }
  
  .md{
    font-size: 20px;
    /* margin-left: 3px; */
    text-align: center;
  }